In [1]:
import pandas as pd
import numpy as np
import re
import json

In [33]:
path = "./backer_info.csv"
backer_info = pd.read_csv(path)
backer_df = pd.DataFrame(backer_info)
backer_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [3]:
backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   backer_info  8175 non-null   object
dtypes: object(1)
memory usage: 64.0+ KB

In [4]:
path = "C:/Users/Holme/OneDrive/Desktop/Crowdfunding-ETL/challenge_8/backer_info.csv"
backer_info = pd.read_csv(path)
backer_df = pd.DataFrame(backer_info)
pd.set_option('max_colwidth', 400)
backer_df = pd.DataFrame(backer_info)
backer_df.tail()

                                                                                           backer_info
8170   {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171  {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172      {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173        {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174       {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

In [5]:
# creat lists for each information to extract
backer_ids = []
cf_ids = []
names = []
emails = []

In [6]:
p = r'\s\d{2,4}'
backer_df[backer_df['backer_info'].str.contains(p)]

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [7]:
pattern = re.compile(p)
matches = pattern.findall(str(backer_df['backer_info'].to_list()))
for match in matches:
       # print(f'cf_id: {match}')
        cf_ids.append(int(match))
        
print(len(cf_ids))

8175

In [8]:
print(backer_df['backer_info'])

0             {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1             {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2               {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3       {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                    {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
                                                       ...
8170       {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171      {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172          {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173            {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174           {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}
Name: backer_info, Length: 8175, dtype: object

In [9]:
cf_df = pd.DataFrame(cf_ids, columns=["cf_id"])
cf_df

      cf_id
0       968
1       563
2        65
3       563
4       563
...     ...
8170     65
8171    563
8172   1114
8173     65
8174     65

[8175 rows x 1 columns]

In [10]:
p = r'\w{2}\d{3}'
backer_df[backer_df['backer_info'].str.contains(p)]

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [11]:
pattern = re.compile(p)
matches = pattern.findall(str(backer_df['backer_info'].to_list()))
for match in matches:
    # print(match)
    backer_ids.append(match)

print(len(backer_ids))

8175

In [12]:
bkr_ids_df = pd.DataFrame(backer_ids, columns= ["backer_id"])
bkr_ids_df

     backer_id
0        av166
1        ha127
2        lg794
3        tb566
4        lh506
...        ...
8170     st581
8171     gf637
8172     rc983
8173     cz381
8174     fg535

[8175 rows x 1 columns]

In [13]:
p = r'\w{2,}@\w{2,}\.com'
backer_df[backer_df['backer_info'].str.contains(p)]

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [14]:
pattern = re.compile(p)
matches = pattern.findall(str(backer_df['backer_info'].to_list()))
for match in matches:
    # print(match)
    emails.append(match)
    
print(len(emails))

8175

In [15]:
email_df = pd.DataFrame(emails, columns = ["email"])
email_df

                      email
0         avincent@live.com
1        harnold@yandex.com
2        lgoulet@yandex.com
3     tbrunelli@outlook.com
4            lhunt@live.com
...                     ...
8170   sthebault@yandex.com
8171   gfoerstner@yahoo.com
8172    rcollin@outlook.com
8173     czappa@outlook.com
8174     fgibbs@outlook.com

[8175 rows x 1 columns]

In [16]:
p = r'\"?[A-Z]\w{1,}\s[A-Z]\w{1,}'
backer_df[backer_df['backer_info'].str.contains(p)]

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [17]:
pattern = re.compile(p)
matches = pattern.findall(str(backer_df['backer_info'].to_list()))
for match in matches:
    # print(match)
    names.append(match)
    
print(len(names))

8175

In [18]:
names_df = pd.DataFrame(names)
names_df

                      0
0       "Angelo Vincent
1        "Hubert Arnold
2         "Loris Goulet
3     "Teodora Brunelli
4           "Lexie Hunt
...                 ...
8170   "Serita Thebault
8171   "Glenn Foerstner
8172       "Robt Collin
8173      "Corina Zappa
8174     "Freeman Gibbs

[8175 rows x 1 columns]

In [19]:
new_info = {"Backer_ID": backer_ids, "CF_ID": cf_ids, "Name": names, "Email": emails }

In [29]:
df = pd.DataFrame(new_info, columns=['Backer_ID', 'CF_ID', 'Name', 'Email'])
df[["First_Name","Last_Name"]] = df["Name"].str.split(' ', n=1, expand=True)
df = df.drop(columns=["Name"])
df

     Backer_ID  CF_ID                  Email First_Name  Last_Name
0        av166    968      avincent@live.com    "Angelo    Vincent
1        ha127    563     harnold@yandex.com    "Hubert     Arnold
2        lg794     65     lgoulet@yandex.com     "Loris     Goulet
3        tb566    563  tbrunelli@outlook.com   "Teodora   Brunelli
4        lh506    563         lhunt@live.com     "Lexie       Hunt
...        ...    ...                    ...        ...        ...
8170     st581     65   sthebault@yandex.com    "Serita   Thebault
8171     gf637    563   gfoerstner@yahoo.com     "Glenn  Foerstner
8172     rc983   1114    rcollin@outlook.com      "Robt     Collin
8173     cz381     65     czappa@outlook.com    "Corina      Zappa
8174     fg535     65     fgibbs@outlook.com   "Freeman      Gibbs

[8175 rows x 5 columns]

In [30]:
# df.to_csv('C:/Users/Holme/OneDrive/Desktop/Crowdfunding-ETL/backers.csv', index=False)

In [32]:
df.to_csv('./backers.csv', index=False)